<p style="color: green"><%= notice %></p>
<h1 class='recipe-heading'>RECIPES</h1>
<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>
<button class = 'add-recipe'>
<%= link_to "Add Recipe", new_recipe_path, class: 'link' %>
</button>