<h1 class='recipe-heading'>Food Details</h1>
   <div class = 'recipe'>
      <p class = 'recipe-name'>Food Name: <strong><%= @food.name%></strong></p> 
    <p class = 'recipe-name'>Quantity: <strong><%= @food.quantity %> <%= @food.measurement_unit %></strong></p>
      <p class = 'recipe-name'>Unit Price: <strong>$<%= @food.price%></strong></p>
   </div>
